<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Slides for
        REST APIs — Ruby on Rails Guides
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="stylesheets/reset.css">
		<link rel="stylesheet" href="stylesheets/reveal.css">
		<link rel="stylesheet" href="stylesheets/myslide.css" id="theme">
    <link rel="stylesheet" href="stylesheets/code.css">
    <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
    <script src="javascripts/slides.js" data-turbo-track="reload"></script>

</head>

<body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
            <h1>REST APIs</h1><p>After working through this guide you will:</p>
<ul>
<li>know about the thinking behind REST APIs</li>
<li>be able to configure your existing Rails controllers to offer resources as JSON</li>
<li>be able to set up an API for your Rails app that is separate from existing controllers</li>
</ul>
<div class="interstitial repo"><p>You can study the <a href="https://github.com/backend-development/api_sample_app">code</a> and try out <a href="https://iou-brigitte.herokuapp.com">the demo</a> for the example described here.</p></div>
          <p><small>Slides - use arrow keys to navigate, esc to return to page view, f for fullscreen</small></p>

        </section>
        <section><a class='slide_break' href='rest-api.html#slide-0'>▻</a>
<h2 id="what-is-an-api"><a class="anchorlink" href="#what-is-an-api"><span>1</span> What is an API</a></h2><p>API stands for "Application Programming Interface". It is a set of clearly defined methods
of communication with a software component. So the objects and methods exposed by a library
form an API.</p><p>In Web development the acronym API is most
commonly used when the software component in question runs on a different server on the
Internet and is accessed via HTTP.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-1'>▻</a>
<h3 id="soap-rest-and-graphql"><a class="anchorlink" href="#soap-rest-and-graphql"><span>1.1</span> SOAP, REST and GraphQL</a></h3><p>Currently three main API Styles are used on the Web:</p>
<ul>
<li><strong>SOAP</strong>, designed 1998 at Microsoft,
uses XML and POST requests to make "remote procedure calls"</li>
<li><strong>REST</strong>, described in 2000,
uses different HTTP Methods and Status Messages to access "resources"</li>
<li><strong>GraphQL</strong>, released 2015 by Facebook,
uses POST requests, it's own query language and JSON</li>
</ul>
<p>This Guide is concerned with REST, there is a second guide for <a href="/graphql-api.html">GraphQL</a>. SOAP
is rearely offered with Rails, but there is a <a href="https://github.com/savonrb/savon">soap client</a> in
ruby.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-2'>▻</a>
<h3 id="api-separates-two-layers"><a class="anchorlink" href="#api-separates-two-layers"><span>1.2</span> API separates two layers</a></h3><p>Please note that any of the API styles can be used
with any backend, frontend, persistance layers:</p>
<ul>
<li>You can build a REST in front of a PHP backend using MongoDB as the database and use it from a frontend written with jQuery.</li>
<li>You can build a GraphQL API for a Rails backend using MySQL as the database and build the frontend with React.</li>
<li>You can use a CMS like Strapi through a REST API from a React frontend</li>
</ul>
<p>That's kind of the point of an API: to allow different technologies
on both sides of the API.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-3'>▻</a>
<h3 id="api-for-many-different-clients"><a class="anchorlink" href="#api-for-many-different-clients"><span>1.3</span> API for many different clients</a></h3><p>Using an API you can build a common backend for different cleints:</p>
<ul>
<li>one client could be a native mobile app for iOS</li>
<li>another client could be a natvie mobile app for Android</li>
<li>a third client could be a Single Page App written with React</li>
</ul>
</section>
<section><a class='slide_break' href='rest-api.html#slide-4'>▻</a>
<h3 id="backend-offers-more-than-an-api"><a class="anchorlink" href="#backend-offers-more-than-an-api"><span>1.4</span> Backend offers more than an API</a></h3><p>Your "backend" might still offer some "Server Rendered HTML" besides
the API:</p>
<ul>
<li>Documentation for the API (e.g. swagger, see below)</li>
<li>AdminPanel (e.g. created automatically by rails_admin)</li>
</ul>
</section>
<section><a class='slide_break' href='rest-api.html#slide-5'>▻</a>
<h2 id="rest"><a class="anchorlink" href="#rest"><span>2</span> REST</a></h2><p>The acronym REST was coined by <a href="https://roy.gbiv.com/">Roy Fielding</a> in his dissertation. When describing
the architecture of the web, and what made it so successful on a technical level,
he described this architecture as "Representational State Transfer" (REST).</p><p>This Acronym was later picked up to describe a certain style of API,
and to distinguish such APIs from SOAP APIs.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-6'>▻</a>
<p>A REST API allows to access and manipulate textual representations of <strong>Web resources</strong> using HTTP Methods and stateless operations.</p><p>"Web resources" were first defined on the World Wide Web as documents or files identified by their URLs, but today they have a much more generic and abstract definition encompassing every thing or entity that can be identified, named, addressed or handled, in any way whatsoever, on the Web.</p><p><a href="https://www.infoq.com/articles/rest-introduction">Tilkov(2007)</a> gives a brief introduction to REST. The main points are:</p>
<ol>
<li> Give every resource a unique URL</li>
<li> “Hypermedia as the engine of application state” (HATEOAS) - use URLs to reference other resources (not just ids)</li>
<li> Use HTTP Methods (and Status Codes) as intended.</li>
<li> One resource can have multiple representations, for example HTML, JSON and XML</li>
<li> Communicate statelessly - if possible!</li>
</ol>
</section>
<section><a class='slide_break' href='rest-api.html#slide-7'>▻</a>
<h3 id="urls"><a class="anchorlink" href="#urls"><span>2.1</span> URLS</a></h3><p>Give every resource a unique URL.
Please note that REST does not demand a certain form of URL.
While URLs with no parameters are often used:</p><div class="interstitial code">
<pre><code class="highlight plaintext">https://example.com/users/
https://example.com/users/1/
https://example.com/users/2/
https://example.com/users/3/
</code></pre>
<button class="clipboard-button" data-clipboard-text="https://example.com/users/
https://example.com/users/1/
https://example.com/users/2/
https://example.com/users/3/
">Copy</button>
</div>
<p>it is just as restful to use parameters:</p><div class="interstitial code">
<pre><code class="highlight plaintext">https://example.com/users.php
https://example.com/users.php?id=1
https://example.com/users.php?id=2
https://example.com/users.php?id=3
</code></pre>
<button class="clipboard-button" data-clipboard-text="https://example.com/users.php
https://example.com/users.php?id=1
https://example.com/users.php?id=2
https://example.com/users.php?id=3
">Copy</button>
</div>
<p>In REST, the URLs correspond to resources, which are represented by nouns.
This is a difference to SOAP, there there is typically just one endpoint:</p><div class="interstitial code">
<pre><code class="highlight plaintext">https://example.com/soap/router/
</code></pre>
<button class="clipboard-button" data-clipboard-text="https://example.com/soap/router/
">Copy</button>
</div>
<p>Through this endpoint you can access methods like <code>getUserData()</code> or <code>deleteUser()</code>.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-8'>▻</a>
<h3 id="hateoas"><a class="anchorlink" href="#hateoas"><span>2.2</span> HATEOAS</a></h3><p>“Hypermedia as the engine of application state” means that a client interacts with a network application entirely through hypermedia, and needs no prior knowledge of URLs.</p><p>If an API returns the following JSON:</p><div class="interstitial code">
<pre><code class="highlight js"><span class="p">{</span>
    <span class="dl">"</span><span class="s2">id</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">1</span><span class="dl">"</span><span class="p">,</span>
    <span class="dl">"</span><span class="s2">name</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">Example User</span><span class="dl">"</span><span class="p">,</span>
    <span class="dl">"</span><span class="s2">email</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">example@railstutorial.org</span><span class="dl">"</span>
    <span class="dl">"</span><span class="s2">profile_pics</span><span class="dl">"</span><span class="p">:</span> <span class="p">[</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">5</span> <span class="p">]</span>
<span class="p">}</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="{
    &quot;id&quot;: &quot;1&quot;,
    &quot;name&quot;: &quot;Example User&quot;,
    &quot;email&quot;: &quot;example@railstutorial.org&quot;
    &quot;profile_pics&quot;: [ 2, 5 ]
}
">Copy</button>
</div>
<p>Then the Client needs to know how to get profile_pics from the API.
For example because the developer read the docs.</p><p>HATEOAS demands that the full URL is used to refer to other resources:</p><div class="interstitial code">
<pre><code class="highlight js"><span class="p">{</span>
    <span class="dl">"</span><span class="s2">id</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">1</span><span class="dl">"</span><span class="p">,</span>
    <span class="dl">"</span><span class="s2">name</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">Example User</span><span class="dl">"</span><span class="p">,</span>
    <span class="dl">"</span><span class="s2">email</span><span class="dl">"</span><span class="p">:</span> <span class="dl">"</span><span class="s2">example@railstutorial.org</span><span class="dl">"</span>
    <span class="dl">"</span><span class="s2">profile_pics</span><span class="dl">"</span><span class="p">:</span> <span class="p">[</span>
       <span class="dl">"</span><span class="s2">https://sample.com/api/profile/pictures/2</span><span class="dl">"</span><span class="p">,</span>
       <span class="dl">"</span><span class="s2">https://sample.com/api/profile/pictures/5</span><span class="dl">"</span>
    <span class="p">]</span>
<span class="p">}</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="{
    &quot;id&quot;: &quot;1&quot;,
    &quot;name&quot;: &quot;Example User&quot;,
    &quot;email&quot;: &quot;example@railstutorial.org&quot;
    &quot;profile_pics&quot;: [
       &quot;https://sample.com/api/profile/pictures/2&quot;,
       &quot;https://sample.com/api/profile/pictures/5&quot;
    ]
}
">Copy</button>
</div>
</section>
<section><a class='slide_break' href='rest-api.html#slide-9'>▻</a>
<h3 id="http-methods-and-status-codes"><a class="anchorlink" href="#http-methods-and-status-codes"><span>2.3</span> HTTP Methods and Status Codes</a></h3><p>Use HTTP Methods (and Status Codes) as intended.</p><p>Regarding the HTTP Methods there are two important distinctions:</p>
<ul>
<li>the GET and HEAD methods should take no other action than retrieval. These methods ought to be considered <strong>safe</strong>.</li>
<li>The methods GET, HEAD, PUT and DELETE are idempotent: repeating the request will not change the end result (aside from error or expiration issues)</li>
</ul>
<p>The definition of the <a href="https://www.rfc-editor.org/rfc/rfc9110.html#methods">Methods</a> in HTTP is a quick read, and well worth it!</p><p>References for status codes:</p>
<ul>
<li><a href="https://httpstatuses.com/422">Status codes</a></li>
<li><a href="https://http.cat/">Status cats</a></li>
</ul>
<p>When building a REST API, the HTTP Protocol already defines a lot
about that API. There is no need to come up with a way to delete
a resource, or to indicate failure. HTTP already offers the DELETE method
and status codes that indicate errors.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-10'>▻</a>
<h3 id="multiple-representations"><a class="anchorlink" href="#multiple-representations"><span>2.4</span> Multiple Representations</a></h3><p>The same resource can be available in different formats.
There are two common ways of requesting different formats:</p><p>With the HTTP Header <code>Accept</code>:</p><div class="interstitial code">
<pre><code class="highlight http"><span class="nf">GET</span> <span class="nn">/mini/person/83</span> <span class="k">HTTP</span><span class="o">/</span><span class="m">1.1</span>
<span class="na">Host</span><span class="p">:</span> <span class="s">example.com</span>
<span class="na">Accept</span><span class="p">:</span> <span class="s">application/xml</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="GET /mini/person/83 HTTP/1.1
Host: example.com
Accept: application/xml
">Copy</button>
</div>
<p>Or by adding an "extension" as part of the URL:</p><div class="interstitial code">
<pre><code class="highlight plaintext">https://example.com/mini/person/83.html
https://example.com/mini/person/83.xml
https://example.com/mini/person/83.json
</code></pre>
<button class="clipboard-button" data-clipboard-text="https://example.com/mini/person/83.html
https://example.com/mini/person/83.xml
https://example.com/mini/person/83.json
">Copy</button>
</div>
<p>The three different versions of person number 83 might look
like this: the HTML web page:</p><div class="interstitial code">
<pre><code class="highlight html"><span class="nt">&lt;h1&gt;</span>Details zu einer Person<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;&lt;img</span> <span class="na">src=</span><span class="s">"https://example.com/mini/profil/edvard_1_2.jpg"</span> <span class="nt">/&gt;</span>
Herr Edvard Paul Scissorhands hat insgesamt 4 Werke in dieser Datenbank.
Er hat den Usernamen fhs123.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;ul&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">'https://example.com/mini/werk/24'</span><span class="nt">&gt;</span>The Thin Red Line<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">'https://example.com/mini/werk/50'</span><span class="nt">&gt;</span>Der böse Wolf<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">'https://example.com/mini/werk/83'</span><span class="nt">&gt;</span>nimm zwei, schatz<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">'https://example.com/mini/werk/303'</span><span class="nt">&gt;</span>the neighbour.<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<h1>Details zu einer Person</h1>
<p><img src=&quot;https://example.com/mini/profil/edvard_1_2.jpg&quot; />
Herr Edvard Paul Scissorhands hat insgesamt 4 Werke in dieser Datenbank.
Er hat den Usernamen fhs123.</p>
<ul>
  <li><a href='https://example.com/mini/werk/24'>The Thin Red Line</a></li>
  <li><a href='https://example.com/mini/werk/50'>Der böse Wolf</a></li>
  <li><a href='https://example.com/mini/werk/83'>nimm zwei, schatz</a></li>
  <li><a href='https://example.com/mini/werk/303'>the neighbour.</a></li>
</ul>
">Copy</button>
</div>
<p>For an API the same resource might be represented as XML:</p><div class="interstitial code">
<pre><code class="highlight xml"><span class="nt">&lt;person&gt;</span>
  <span class="nt">&lt;image</span> <span class="na">ref=</span><span class="s">'https://example.com/mini/profil/edvard_1_2.jpg'</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;vorname&gt;</span>Edvard<span class="nt">&lt;/vorname&gt;</span>
  <span class="nt">&lt;nachname&gt;</span>Scissorhands<span class="nt">&lt;/nachname&gt;</span>
  <span class="nt">&lt;username&gt;</span>fhs123<span class="nt">&lt;/username&gt;</span>
  <span class="nt">&lt;werke&gt;</span>
    <span class="nt">&lt;werk</span> <span class="na">ref=</span><span class="s">'https://example.com/mini/werk/24'</span><span class="nt">&gt;</span>The Thin Red Line<span class="nt">&lt;/werk&gt;</span>
    <span class="nt">&lt;werk</span> <span class="na">ref=</span><span class="s">'https://example.com/mini/werk/50'</span><span class="nt">&gt;</span>Der böse Wolf<span class="nt">&lt;/werk&gt;</span>
    <span class="nt">&lt;werk</span> <span class="na">ref=</span><span class="s">'https://example.com/mini/werk/83'</span><span class="nt">&gt;</span>nimm zwei, schatz<span class="nt">&lt;/werk&gt;</span>
    <span class="nt">&lt;werk</span> <span class="na">ref=</span><span class="s">'https://example.com/mini/werk/303'</span><span class="nt">&gt;</span>the neighbour.<span class="nt">&lt;/werk&gt;</span>
  <span class="nt">&lt;/werke&gt;</span>
<span class="nt">&lt;/person&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<person>
  <image ref='https://example.com/mini/profil/edvard_1_2.jpg' />
  <vorname>Edvard</vorname>
  <nachname>Scissorhands</nachname>
  <username>fhs123</username>
  <werke>
    <werk ref='https://example.com/mini/werk/24'>The Thin Red Line</werk>
    <werk ref='https://example.com/mini/werk/50'>Der böse Wolf</werk>
    <werk ref='https://example.com/mini/werk/83'>nimm zwei, schatz</werk>
    <werk ref='https://example.com/mini/werk/303'>the neighbour.</werk>
  </werke>
</person>
">Copy</button>
</div>
<p>or as JSON:</p><div class="interstitial code">
<pre><code class="highlight json"><span class="p">{</span><span class="nl">"image"</span><span class="p">:</span><span class="s2">"https://example.com/mini/profil/edvard_1_2.jpg"</span><span class="p">,</span><span class="w">
 </span><span class="nl">"vorname"</span><span class="p">:</span><span class="s2">"Edvard"</span><span class="p">,</span><span class="w">
 </span><span class="nl">"nachname"</span><span class="p">:</span><span class="s2">"Scissorhands"</span><span class="p">,</span><span class="w">
 </span><span class="nl">"werk"</span><span class="p">:[</span><span class="w">
    </span><span class="p">{</span><span class="nl">"titel"</span><span class="p">:</span><span class="s2">"The Thin Red Line"</span><span class="p">,</span><span class="w">
     </span><span class="nl">"url"</span><span class="p">:</span><span class="s2">"https://example.com/mini/werk/24"</span><span class="p">},</span><span class="w">
    </span><span class="p">{</span><span class="nl">"titel"</span><span class="p">:</span><span class="s2">"Der böse Wolf"</span><span class="p">,</span><span class="w">
     </span><span class="nl">"url"</span><span class="p">:</span><span class="s2">"https://example.com/mini/werk/50"</span><span class="p">},</span><span class="w">
    </span><span class="p">{</span><span class="nl">"titel"</span><span class="p">:</span><span class="s2">"nimm zwei, schatz"</span><span class="p">,</span><span class="w">
     </span><span class="nl">"url"</span><span class="p">:</span><span class="s2">"https://example.com/mini/werk/83"</span><span class="p">},</span><span class="w">
    </span><span class="p">{</span><span class="nl">"titel"</span><span class="p">:</span><span class="s2">"the neighbour."</span><span class="p">,</span><span class="w">
     </span><span class="nl">"url"</span><span class="p">:</span><span class="s2">"https://example.com/mini/werk/303"</span><span class="p">}]}</span><span class="w">
</span></code></pre>
<button class="clipboard-button" data-clipboard-text="{&quot;image&quot;:&quot;https://example.com/mini/profil/edvard_1_2.jpg&quot;,
 &quot;vorname&quot;:&quot;Edvard&quot;,
 &quot;nachname&quot;:&quot;Scissorhands&quot;,
 &quot;werk&quot;:[
    {&quot;titel&quot;:&quot;The Thin Red Line&quot;,
     &quot;url&quot;:&quot;https://example.com/mini/werk/24&quot;},
    {&quot;titel&quot;:&quot;Der böse Wolf&quot;,
     &quot;url&quot;:&quot;https://example.com/mini/werk/50&quot;},
    {&quot;titel&quot;:&quot;nimm zwei, schatz&quot;,
     &quot;url&quot;:&quot;https://example.com/mini/werk/83&quot;},
    {&quot;titel&quot;:&quot;the neighbour.&quot;,
     &quot;url&quot;:&quot;https://example.com/mini/werk/303&quot;}]}
">Copy</button>
</div>
</section>
<section><a class='slide_break' href='rest-api.html#slide-11'>▻</a>
<h3 id="statelessness"><a class="anchorlink" href="#statelessness"><span>2.5</span> Statelessness</a></h3><p>Tilkov wirtes: "REST mandates that state be either turned into resource state, or kept on the client. In other words, a server should not have to retain some sort of communication state for any of the clients it communicates with beyond a single request."</p><p>This is important for performance and scalability.
 Statelessness makes caching easy. And in a scenario with multiple servers behind a load balancer, having no state on the server means that the application will work when a client's requests are routed to different servers.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-12'>▻</a>
<h3 id="json-api"><a class="anchorlink" href="#json-api"><span>2.6</span> JSON API</a></h3><p>When an API returns JSON data this could take many forms.
The <a href="https://jsonapi.org/">json:api specification</a> is a well thought out
convention for this.</p><p>It is imlements the HATEOS aspect of REST and defines a way to do associations and aggregation.</p><p>For smaller projects it might be overkill.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-13'>▻</a>
<h3 id="exploring-a-rest-api"><a class="anchorlink" href="#exploring-a-rest-api"><span>2.7</span> Exploring a REST API</a></h3><p>You can explor a REST with several tool:</p>
<ul>
<li><a href="https://curl.haxx.se/docs/manual.html">curl</a> is a command line tool for sending HTTP requests</li>
<li>developer tools in the browser can edit "re-send" a request, or <a href="https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor/request_list#Context_menu">copy as curl</a></li>
<li><a href="https://hoppscotch.io/">hoppscotch</a> is a browser based REST client</li>
<li><a href="https://insomnia.rest/download">insomnia</a> is a client you install as a native app</li>
</ul>
</section>
<section><a class='slide_break' href='rest-api.html#slide-14'>▻</a>
<h3 id="testing-and-documenting-a-rest-api"><a class="anchorlink" href="#testing-and-documenting-a-rest-api"><span>2.8</span> Testing and Documenting a REST API</a></h3><p><a href="https://swagger.io/resources/open-api/">The OpenAPI Specification</a> is a way for
specifying and documenting REST APIs.  There are a lot of tools available around it
for many different programming languages.</p><p>For Rails I recommend the gem <code>rswag</code>: with rswag you write tests (specs) for your
api, and the documentation is generated from the (successful) tests.
There is also a web-ui to read the documentation and run API requests -
<a href="https://iou-brigitte.herokuapp.com/api-docs/index.html">Swagger Web UI in the example app</a></p></section>
<section><a class='slide_break' href='rest-api.html#slide-15'>▻</a>
<h2 id="rails-rest-api-in-with-existing-controllers"><a class="anchorlink" href="#rails-rest-api-in-with-existing-controllers"><span>3</span> Rails: REST API in  with existing Controllers</a></h2><p>Rails is equipped to not just create HTML as output, but to easily
offer other representations as well.</p><p>When you look at <code>rails routes</code> you can see that the routes created by
<code>resource :user</code> could contain an optional <code>format</code>:</p><div class="interstitial code">
<pre><code class="highlight plaintext">                 Prefix Verb   URI Pattern                           Controller#Action
                   root GET    /                                     static_pages#home
                  users GET    /users(.:format)                      users#index
                   user GET    /users/:id(.:format)                  users#show
</code></pre>
<button class="clipboard-button" data-clipboard-text="                 Prefix Verb   URI Pattern                           Controller#Action
                   root GET    /                                     static_pages#home
                  users GET    /users(.:format)                      users#index
                   user GET    /users/:id(.:format)                  users#show
">Copy</button>
</div>
<p>Only HTML is implemented by default. But we could use this feature
to have other formats:</p>
<ul>
<li><code>/users</code></li>
<li><code>/users.json</code></li>
<li><code>/users.xml</code></li>
<li><code>/users/1</code></li>
<li><code>/users/1.json</code></li>
<li><code>/users/1.xml</code></li>
</ul>
<p>When you try out accessing <code>/users/1.json</code> you get a response:</p><div class="interstitial code">
<pre><code class="highlight plaintext">406 Not Acceptable
Content-Length: 39
Content-Type: application/json; charset=utf-8

{"status":406,"error":"Not Acceptable"}
</code></pre>
<button class="clipboard-button" data-clipboard-text="406 Not Acceptable
Content-Length: 39
Content-Type: application/json; charset=utf-8

{&quot;status&quot;:406,&quot;error&quot;:&quot;Not Acceptable&quot;}
">Copy</button>
</div>
<p>This error message is meant for a
client expecting JSON data. It uses both the HTTP status code
and the JSON to indicate the error.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-16'>▻</a>
<h3 id="api-for-the-sample-app"><a class="anchorlink" href="#api-for-the-sample-app"><span>3.1</span> API for the sample app</a></h3><p>The "Frontend 1" in the example app expects a very simple JSON structure:</p><p>To display one user, it loads from <code>/user/1.json</code> and expects
a single JSON object with three attributes:</p><div class="interstitial code">
<pre><code class="highlight plaintext">{
   "id":1,
   "name":"Example User",
   "email":"example@railstutorial.org"
}
</code></pre>
<button class="clipboard-button" data-clipboard-text="{
   &quot;id&quot;:1,
   &quot;name&quot;:&quot;Example User&quot;,
   &quot;email&quot;:&quot;example@railstutorial.org&quot;
}
">Copy</button>
</div>
<p>To display the table of users, it loads from <code>/users.json</code> and
expects a JSON array of objects like above:</p><div class="interstitial code">
<pre><code class="highlight plaintext">[
  {
    "id":2,
    "name":"Precious Heaney",
    "email":"example-1@railstutorial.org"
  },
  {
    "id":3,
    "name":"Warren Considine Sr.",
    "email":"example-2@railstutorial.org"
  }
]
</code></pre>
<button class="clipboard-button" data-clipboard-text="[
  {
    &quot;id&quot;:2,
    &quot;name&quot;:&quot;Precious Heaney&quot;,
    &quot;email&quot;:&quot;example-1@railstutorial.org&quot;
  },
  {
    &quot;id&quot;:3,
    &quot;name&quot;:&quot;Warren Considine Sr.&quot;,
    &quot;email&quot;:&quot;example-2@railstutorial.org&quot;
  }
]
">Copy</button>
</div>
</section>
<section><a class='slide_break' href='rest-api.html#slide-17'>▻</a>
<h3 id="creating-an-api-with-existing-controllers"><a class="anchorlink" href="#creating-an-api-with-existing-controllers"><span>3.2</span> creating an API with existing controllers</a></h3><p>The scaffold generator always adds handling JSON responses
to the actions of a controller.</p><p>For handling just HTML only this code would be needed in the
create action:</p><div class="interstitial code">
<pre><code class="highlight plaintext">  # POST /users
  def create
    @user = User.new(user_params)
    if @user.save
      redirect_to @user, notice: 'User was successfully created.'
    else
      render :new
    end
    end
  end
</code></pre>
<button class="clipboard-button" data-clipboard-text="  # POST /users
  def create
    @user = User.new(user_params)
    if @user.save
      redirect_to @user, notice: 'User was successfully created.'
    else
      render :new
    end
    end
  end
">Copy</button>
</div>
<p>But the scaffold generator also adds <code>resond_to</code> and <code>format</code> commands,
to handle json differently from html:</p><div class="interstitial code">
<pre><code class="highlight plaintext">  # POST /users
  # POST /users.json
  def create
    @user = User.new(user_params)
    respond_to do |format|
      if @user.save
        format.html {
          redirect_to @user, notice: 'User was successfully created.'
        }
        format.json {
          render :show, status: :created, location: @user
        }
      else
        format.html {
          render :new
        }
        format.json {
          render json: @user.errors, status: :unprocessable_entity
        }
      end
    end
  end
</code></pre>
<button class="clipboard-button" data-clipboard-text="  # POST /users
  # POST /users.json
  def create
    @user = User.new(user_params)
    respond_to do |format|
      if @user.save
        format.html {
          redirect_to @user, notice: 'User was successfully created.'
        }
        format.json {
          render :show, status: :created, location: @user
        }
      else
        format.html {
          render :new
        }
        format.json {
          render json: @user.errors, status: :unprocessable_entity
        }
      end
    end
  end
">Copy</button>
</div>
<p>so in the controller we might not need to change anything to add the
API, only in the view.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-18'>▻</a>
<h3 id="creating-json-with-erb-not-a-good-idea"><a class="anchorlink" href="#creating-json-with-erb-not-a-good-idea"><span>3.3</span> creating JSON with erb - not a good idea</a></h3><p>We could create views using erb in <code>app/views/users/show.json.erb</code>:</p><div class="interstitial code">
<pre><code class="highlight plaintext">{
  "id": &lt;%= @user.id %&gt;,
  "name": "&lt;%= @user.name %&gt;",
  "email": "&lt;%= @user.email %&gt;"
}
</code></pre>
<button class="clipboard-button" data-clipboard-text="{
  &quot;id&quot;: <%= @user.id %>,
  &quot;name&quot;: &quot;<%= @user.name %>&quot;,
  &quot;email&quot;: &quot;<%= @user.email %>&quot;
}
">Copy</button>
</div>
<p>and <code>app/views/users/index.json.erb</code>:</p><div class="interstitial code">
<pre><code class="highlight plaintext">[
&lt;%
  @users.each_with_index do |user| %&gt;
  {
    "id": &lt;%= user.id %&gt;,
    "name": "&lt;%= user.name %&gt;",
    "email": "&lt;%= user.email %&gt;"
  },
&lt;% end %&gt;
]
</code></pre>
<button class="clipboard-button" data-clipboard-text="[
<%
  @users.each_with_index do |user| %>
  {
    &quot;id&quot;: <%= user.id %>,
    &quot;name&quot;: &quot;<%= user.name %>&quot;,
    &quot;email&quot;: &quot;<%= user.email %>&quot;
  },
<% end %>
]
">Copy</button>
</div>
<p>But wait, there's a problem: there is a comma after each object,
but there should be no comma after the last.</p><div class="interstitial code">
<pre><code class="highlight plaintext">[
&lt;%
  max = @users.length - 1
  @users.each_with_index do |user,i| %&gt;
  {
    "id": &lt;%= user.id %&gt;,
    "name": "&lt;%= user.name %&gt;",
    "email": "&lt;%= user.email %&gt;"
  }
  &lt;%= if i &lt; max then ',' end %&gt;
&lt;% end %&gt;
]
</code></pre>
<button class="clipboard-button" data-clipboard-text="[
<%
  max = @users.length - 1
  @users.each_with_index do |user,i| %>
  {
    &quot;id&quot;: <%= user.id %>,
    &quot;name&quot;: &quot;<%= user.name %>&quot;,
    &quot;email&quot;: &quot;<%= user.email %>&quot;
  }
  <%= if i < max then ',' end %>
<% end %>
]
">Copy</button>
</div>
<p>And wait, there's another problem: What happens
if a users name contains a quote? For example <kbd>Jack "the Ripper"</kbd>.
That would break our current view, because we don't do proper escaping.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-19'>▻</a>
<h3 id="creating-json-with-jbuilder-a-better-idea"><a class="anchorlink" href="#creating-json-with-jbuilder-a-better-idea"><span>3.4</span> creating JSON with jbuilder - a better idea</a></h3><p>Rails 5 comes with the gem <code>jbuilder</code> which helps you create JSON, and
which handles all the escaping and formatting correctly.</p><p>We need to name the view <code>app/views/users/show.json.jbuilder</code>,
and then can use the the following code to extract three properties
from the user object:</p><div class="interstitial code">
<pre><code class="highlight plaintext">json.id @user.id
json.name @user.name
json.email @user.email
</code></pre>
<button class="clipboard-button" data-clipboard-text="json.id @user.id
json.name @user.name
json.email @user.email
">Copy</button>
</div>
<p>There is also a shorthand for this:</p><div class="interstitial code">
<pre><code class="highlight plaintext">json.extract! @user, :id, :name, :email
</code></pre>
<button class="clipboard-button" data-clipboard-text="json.extract! @user, :id, :name, :email
">Copy</button>
</div>
<p>For the index view we want to create a JSON array.
In <code>app/views/users/index.json.jbuilder</code> we write:</p><div class="interstitial code">
<pre><code class="highlight plaintext">json.array! @users do |user|
  json.extract! user, :id, :name, :email
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="json.array! @users do |user|
  json.extract! user, :id, :name, :email
end
">Copy</button>
</div>
</section>
<section><a class='slide_break' href='rest-api.html#slide-20'>▻</a>
<h3 id="authentication-and-the-api"><a class="anchorlink" href="#authentication-and-the-api"><span>3.5</span> Authentication and the API</a></h3><p>All the authentication and access control we built into the
rails app before is still applicable to the API and JSON views.
If the "Frontend" that is using our API is displayed in a browser,
the handling of cookies and the session is exactly the same as before.</p><p>If the "Frontend" is not in a browser, but is a native mobile app or
just another server side job, we have to use an alternative to cookies.
<a href="https://backend-development.github.io/rails_authentication.html#how-to-add-state-to-http">JSON Web Tokens</a> are a solution.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-21'>▻</a>
<h2 id="rails-stand-alone-rest-api"><a class="anchorlink" href="#rails-stand-alone-rest-api"><span>4</span> Rails: Stand Alone REST API</a></h2><p>To create a stand alone API we define new, separate routes under <code>/api/v1</code>.</p><div class="interstitial code">
<pre><code class="highlight plaintext">namespace :api do
  namespace :v1 do
    resources :users, only: [:index, :create, :show, :update, :destroy]
  end
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="namespace :api do
  namespace :v1 do
    resources :users, only: [:index, :create, :show, :update, :destroy]
  end
end
">Copy</button>
</div>
<p>we will be using the <code>blueprint</code> gem for creating JSON output. It does not comply with
the JSON-API specification, but it is fine for smaller projects.</p><div class="interstitial code">
<pre><code class="highlight plaintext">bundle add 'blueprinter'
</code></pre>
<button class="clipboard-button" data-clipboard-text="bundle add 'blueprinter'
">Copy</button>
</div>
<p><strong>Beware</strong>: After adding a gem you
need to restart the rails server!</p></section>
<section><a class='slide_break' href='rest-api.html#slide-22'>▻</a>
<h3 id="setting-up-controllers"><a class="anchorlink" href="#setting-up-controllers"><span>4.1</span> setting up controllers</a></h3><p>After we defined the routes, we next need to create a controller.
As we are setting up a new hierarchy of controllers that will only
concerned with the API, it makes sense to inhert from <code>ActionController::API</code>,
not from <code>ActionController::Base</code>.</p><p>All the "normal" controllers first inhert from <code>ApplicationController</code>. We
will build a similar structure for the api controllers, the will inhert from
<code>Api::V1::BaseController</code>:</p><div class="interstitial code">
<pre><code class="highlight plaintext"># app/controllers/api/v1/base_controller.rb

class Api::V1::BaseController &lt; ActionController::API
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="# app/controllers/api/v1/base_controller.rb

class Api::V1::BaseController < ActionController::API
end
">Copy</button>
</div>
<p>The users controller is the one that's actually called by the route:</p><div class="interstitial code">
<pre><code class="highlight plaintext"># app/controllers/api/v1/users_controller.rb

class Api::V1::UsersController &lt; Api::V0::BaseController
  def index
    users = User.all
    render json: ...
  end

  def show
    user = User.find(params[:id])
    render json: ...
  end
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="# app/controllers/api/v1/users_controller.rb

class Api::V1::UsersController < Api::V0::BaseController
  def index
    users = User.all
    render json: ...
  end

  def show
    user = User.find(params[:id])
    render json: ...
  end
end
">Copy</button>
</div>
<p>The controller loads the right model, and then needs to calls a <strong>serializer</strong>  to
do the actual rendering of the json data.  We will create this serializer next.</p></section>
<section><a class='slide_break' href='rest-api.html#slide-23'>▻</a>
<h3 id="creating-json-with-blueprinter"><a class="anchorlink" href="#creating-json-with-blueprinter"><span>4.2</span> creating JSON with blueprinter</a></h3><p>With the gem blueprinter the
serializers live in the <code>/app/blueprints</code> folder.</p><div class="interstitial code">
<pre><code class="highlight plaintext"># app/blueprints/user_blueprint.rb

class UserBlueprint &lt; Blueprinter::Base
  identifier :id
  fields :name, :email
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="# app/blueprints/user_blueprint.rb

class UserBlueprint < Blueprinter::Base
  identifier :id
  fields :name, :email
end
">Copy</button>
</div>
<p>This serializer can be used both for single users and for arrays
of users. We can now complete the controller:</p><div class="interstitial code">
<pre><code class="highlight plaintext"># app/controllers/api/v1/users_controller.rb

class Api::V1::UsersController &lt; Api::V0::BaseController
  def index
    users = User.all
    render json: UserBlueprint.render(users)
  end

  def show
    user = User.find(params[:id])
    render json: UserBlueprint.render(user)
  end
end
</code></pre>
<button class="clipboard-button" data-clipboard-text="# app/controllers/api/v1/users_controller.rb

class Api::V1::UsersController < Api::V0::BaseController
  def index
    users = User.all
    render json: UserBlueprint.render(users)
  end

  def show
    user = User.find(params[:id])
    render json: UserBlueprint.render(user)
  end
end
">Copy</button>
</div>
</section>
<section><a class='slide_break' href='rest-api.html#slide-24'>▻</a>
<h2 id="see-also"><a class="anchorlink" href="#see-also"><span>5</span> See Also</a></h2>
<ul>
<li><a href="https://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm">Fielding, Roy(2000): Architectural Styles and the Design of Network-based Software Architectures</a>. Dissertation. University of California/Irvine, USA.</li>
<li><a href="https://martinfowler.com/articles/richardsonMaturityModel.html">Fowler (2010): Richardson Maturity Model</a></li>
<li><a href="https://www.infoq.com/articles/rest-introduction">Tilkov(2007): A Brief Introduction to REST</a></li>
<li><a href="http://standards.rest/">standards.rest</a> a collection of standards that have developed around REST</li>
<li><a href="https://edgeguides.rubyonrails.org/action_controller_overview.html#rendering-xml-and-json-data">Rails Guide: Rendering JSON in Action Controller Overview</a></li>
<li><a href="https://edgeguides.rubyonrails.org/api_app.html">Rails Guide: Using Rails for API-only Applications</a></li>
<li><a href="https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html">Methods HTTP/1.0</a></li>
<li><a href="https://httpstatuses.com/422">Status codes</a></li>
<li><a href="https://github.com/nsarno/knock">gem knock</a> for token based authentication for API only Rails apps</li>
<li><a href="https://api-platform.com/">API Platform</a> to build REST + GraphQL APIs in PHP</li>
<li>Halliday(2016): <a href="https://blog.codeship.com/producing-documentation-for-your-rails-api/">Producing Documentation for Your Rails API</a> for a discussion of automatic methods of documentation generation.</li>
</ul>
</div></section>
      </div>
    </div>
    <!-- End slides. -->
    <!-- Required JS files. -->
		<script src="javascripts/reveal.js"></script>
		<script src="javascripts/search.js"></script>
		<script src="javascripts/markdown.js"></script>

    <script>
    // Also available as an ES module, see:
    // https://revealjs.com/initialization/
    Reveal.initialize({
      controls: false,
      progress: true,
      center: false,
      hash: true,

      // The "normal" size of the presentation, aspect ratio will
      // be preserved when the presentation is scaled to fit different
      // resolutions. Can be specified using percentage units.
      width: 1000,
      height: 600,
      disableLayout: false,

      // Factor of the display size that should remain empty around
      // the content
      margin: 0.05,

      // Bounds for smallest/largest possible scale to apply to content
      minScale: 0.2,
      maxScale: 10.0,

      keyboard: {
        27: () => {
          // do something custom when ESC is pressed
          var new_url = window.location.pathname.replace('slides_', '') + window.location.hash.replace('/','slide-');
          window.location = new_url;
        },
        191: 'toggleHelp',
        13: 'next', // go to the next slide when the ENTER key is pressed
      },

      // Learn about plugins: https://revealjs.com/plugins/
      plugins: [ RevealSearch, RevealMarkdown ]
    });
    </script>
</body>

</html>
